.call-to-action__buttons {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    row-gap: 15px;
    max-width: 100%;
    margin: 20px 15px;
    justify-content:flex-start ;
}


.ingrédients-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 15px;
    margin: 20px 0px;
}
.card-ingredient {
    flex-direction: column;
    overflow: hidden;
    transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    position: relative; 
}




.card-ingredient:hover {
    transform: scale(1.05);
}

.card-ingredient-image {
    text-align: center;
    padding: 10px;
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-ingredient-image img {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}



.card-ingredient-image {
    text-align: center;
    padding: 10px;
    max-width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-ingredient-image img {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.ingredients-details {
    display: flex;                /* Utilise Flexbox pour le layout */
    flex-direction: column;       /* Aligne les enfants en colonne */
    align-items: center;          /* Centre horizontalement le contenu */
    text-align: center;           /* Centre le texte à l'intérieur */
    font-weight: 300;
}

.recette_ingredients-qtunit {
    display: block; 
}

.highlight-quantity span , .highlight-quantity input , .ingredients-details span  {
    font-weight: 300;
    letter-spacing: 0.03em;
}
.ingredients-qtunit .highlight-quantity input {
    font-weight: 400 !important;
}

.highlight-quantity span {
    line-height: none;
}

.quantite-control__value_number {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1B1B1B;
    font-style: normal;
    width: 100%;
}






 .card-ingredient .sousRayon-containers_grid,  .card-ingredient .sousRayon-containers_list {
    left: 15px;
    right: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    z-index: 2;
    margin: 0;
}
.sousRayon-containers_grid {
    display: flex;
    position: absolute;
    top: 15px;
}
.sousRayon-containers_list {
    display: none;
}
.sousRayon-container {
    padding: 2px 5px;
    border-radius: 4px;
    outline: 1px solid rgba(63, 55, 53, 0.23);
    outline-offset: -1px;
    backdrop-filter: blur(10px);
    opacity: 0.75;
    display: flex;
    justify-content: center;
}
.sousRayon-container h7 {
    font-size: 0.7em;
    color: #696969;
}

h4 {
    margin: 0;
}


.resumesIngredients {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.resumeIngredients {
    display: flex;
    flex-direction: row;
    gap: 5px;
}







/* Styles pour le conteneur Bring! */
.bring-container {
    text-align: center; 
    margin: 0 10px;
}
.bring-import-link-light {
    min-width: unset !important;
    max-width: unset !important;
    width: auto !important;
    height: 40px !important;
    display: flex !important;
    flex-direction: row !important;
    transition: transform 0.2s !important;
}
.bring-import-button-light {
    background-color: #ffffff !important;
    border: 1px solid #CB6863 !important;
    box-shadow: none !important;
    border-radius: 50px !important;
    box-sizing: unset;
}
.bring-import-image-light {
    margin: 0 10px 0 12px !important;
}
.bring-import-text-light {
    font-family: 'Caviar Dreams', sans-serif !important;
    color: #CB6863 !important;
    font-size: 0.95em !important;
    font-weight: 700 !important;
    line-height: 1.1em !important;
    flex-grow: 0 !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    vertical-align:middle !important;
    padding: 0 15px 0 0 !important;
    
}
#bring-import-container a:hover {
    transform: scale(1.1);
}












@media (max-width: 670px) {
    .card-ingredient {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: visible;
    }
    .card-ingredient-image {
        width: 75px;
        height: 75px;
    }
    .ingredients-details {
        display: flex;
        flex-direction: column;
        align-items: unset;
        text-align: unset;
    }
    .ingredients-qtunit {
        line-height: 1em;
    }
    .ingrédients-container{
        grid-template-columns: 1fr;
    }
    .ingredients-items{
        grid-template-columns:repeat(auto-fill, minmax(110px, 1fr));
        gap: 10px;
    }
    .sousRayon-containers_grid{
        display: none !important;
    }
    .sousRayon-containers_list{
        left: 100px !important ;
        display: flex !important;
    }
}