.recettes-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 15px;
    margin-top: 50px;

}

.subCategories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Espacement entre les boutons */
}

.recette-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #FBFBFB;
}

.recette-item .subCategories {
    position: absolute;
    top: 0; /* Ajustez selon l’espace que vous souhaitez en haut */
    left: 0; /* Ajustez selon l’espace que vous souhaitez à droite */
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    padding-top: 5px;
    padding-left: 5px;
    z-index: 2;
}

.subCategory {
    padding: 3px 10px;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    outline: 1px solid #696969;
    outline-offset: -1px;
}

#subCategories .subCategory {
    cursor: pointer;
}

#subCategories .subCategory:hover {
    outline: 1px solid #CB6863;
}

#subCategories .subCategory:hover h7{
    color: #CB6863;
}

#subCategories .subCategory.active {
    border: none;
    background-color: rgba(27, 27, 27, 0.5);
    outline: unset;
}

#subCategories .subCategory.active h7{
    color: #FFFFFF;
}

.recette-item .subCategory {
    background-color: rgba(27, 27, 27, 0.5);
    backdrop-filter: blur(2px);

}

.subCategory h7 {
    color: #696969;
    font-size: 0.7em;
}

.recette-item .subCategory h7 {
    color: #FFFFFF;

}

.recette-item__container_img {
    width: 100%;
    aspect-ratio: 21 / 9; 
    border-radius: 8px;
    overflow: hidden;
    position: relative; 
}

.recette-item:hover {
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05) ;
}



.recette-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.recette-item:hover .recette-image {
    transform: scale(1.2); /* Zoom de l'image */
}



.infos__recette {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 5px 0;
    padding-top: 5px;
}

.top-infos__recette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    row-gap: 10px;
    column-gap: 20px;
    max-width: 100% ;
}
.top-info {
    display: flex;
    align-items: center;
    max-width: 100%;
}
.top-info__img {
    height: 22px;
    width: 22px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.top-info__label {
    padding: 0 0 0 10px;
}

.recette-item h7 {
    font-size: 0.8em;
}

.recette-item h3 {
    font-size: 1em;
    width: 100%;
    text-align: left;
    margin: 5px 0 ;
    padding-bottom: 5px;
}