/* --- Ajout des polices depuis la racine /assets/fonts/ --- */
@font-face {
    font-family: 'Caviar Dreams';
    src: url('/Orpps/assets/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: light;
    src: url('/Orpps/assets/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: black;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    src: url('/Orpps/assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}







/* --- Style de base pour les balise simple --- */
body {
    font-family: 'Caviar Dreams', sans-serif; /* Utilise Caviar Dreams comme police principale */
    margin: 0;
    padding-top: 100px;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Utilise Montserrat pour les titres */
}

.bold-text {
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: bold;
}




:root {
    --page-max-width: 980px;
}








/* --- Style de base pour le header --- */
.header {
    display: flex;
    flex-direction: column; /* Changez la direction en colonne */
    align-items: center; /* Centre le contenu horizontalement */
    justify-content: center;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed; /* Fixe l'en-tête en haut de la page */
    top: 0;          /* Positionne l'en-tête tout en haut */
    left: 0;         /* Aligne l'en-tête à gauche */
    width: 100%;     /* Fait en sorte que l'en-tête prenne toute la largeur */
    margin: 0 auto;   /* Centre le header horizontalement */
    z-index: 1000;   /* Assure que l'en-tête est au-dessus des autres éléments */
    transition: height 0.3s ease; /* Transition pour l'agrandissement */
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur totale */
}


/* Container qui limite la largeur du contenu interne */
.header .container {
    max-width: var(--page-max-width);
    width: 100%; /* S'assure que le container prend 100% de l'espace disponible */
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: var(--page-max-width);
    width: 100%; /* S'assure que le container prend 100% de l'espace disponible */
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.header__logo a {
    display: inline-block;
    margin-right: 10px; /* Espace entre les logos */
}

.header__logo img {
    height: 50px;
}

.user-logo {
    position: relative;
    display: inline-block;
}

.user-logo__hat,
.user-logo__mustache {
    position: absolute;
    left: 0;
    width: 100%;
}

.user-logo__hat {
    top: 0; /* Positionnement pour la partie supérieure */
}

.user-logo__mustache {
    top: 50%; /* Ajustez selon le positionnement voulu pour la partie inférieure */
    transform: translateY(-10%); /* Ajustez la valeur pour affiner l'alignement */
}



/* Styles pour le menu burger */
.header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px; /* Ajustez la hauteur selon vos besoins */
    cursor: pointer;
}

.header__burger > span {
    position: relative;
    display: block;
    height: 3px;
    border-radius: 2px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
    background-color: #000; /* Couleur des barres */
}

.header__burger > span:first-child {
    width: 25px;
    margin-bottom: 7px;
}

.header__burger > span:nth-child(2) {
    width: 18px;
    margin: 0 auto 7px;
}

.header__burger > span:last-child {
    width: 25px;
    margin-bottom: 7px;
}


/* Styles pour le menu lorsqu'il est actif */
#overlayMenu {
    display: none; /* Masquer le menu par défaut */
    position: relative; /* Position absolue par rapport à son parent (header) */
    top: 100%; /* Positionné juste en dessous du header */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1); /* Fond blanc pour le menu */
    z-index: 999; /* Assurer que le menu est au-dessus du contenu */
}

/* Styles pour le menu lorsqu'il est actif */
#overlayMenu.active {
    display: block; /* Afficher le menu lorsque actif */
}





/* --- Styles pour le menu mobile --- */
.header__mobile-nav {
    display: none; /* Masquer par défaut */
    flex-direction: column; /* Disposer les éléments verticalement */
    padding: 15px; /* Espacement interne */
    background-color: rgba(255, 255, 255, 1); /* Fond blanc */
    max-width: var(--page-max-width);
    margin: 0 auto;
}

.header__mobile-nav ul {
    list-style: none; /* Pas de puces */
    padding: 0; /* Pas de padding par défaut */
}

.header__mobile-nav li {
    margin: 10px 0; /* Espacement entre les éléments de la liste */
}

.header__mobile-nav a {
    text-decoration: none; /* Pas de soulignement */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Gras */
    font-size: 18px; /* Taille de police */
    transition: color 0.3s; /* Transition pour la couleur */
}

/* Changement de couleur au survol */
.header__mobile-nav a:hover {
    color: #007BFF; /* Changez cette couleur selon vos préférences */
}

/* Afficher le menu mobile lorsque actif */
#overlayMenu.active .header__mobile-nav {
    display: flex; /* Afficher le menu lorsque actif */
}

/* --- Agrandissement du header --- */
.header.expanded {
    height: auto; /* Permet au header de s'agrandir automatiquement */
}

.header__overlay {
    position: fixed;
    top: 0; /* Commence en haut */
    left: 0;
    right: 0;
    height: 100%; /* Prend toute la hauteur */
    background-color: rgba(0, 0, 0, 0.7); /* Couleur d'arrière-plan avec transparence */
    transform: translateY(-100%); /* Masquer l'overlay hors de la vue */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Transition pour l'animation */
    opacity: 0; /* Masquer par défaut */
    pointer-events: none; /* Empêche les clics lorsque masqué */
}

/* Afficher l'overlay lorsque actif */
#overlayMenu.active {
    transform: translateY(0); /* Glisse dans la vue */
    opacity: 1; /* Rendre visible */
    pointer-events: auto; /* Activer les événements de clic */
}







/* Animation du burger menu */
.header.modal-burger-open .header__burger > span:first-child {
    top: 10px;
    transform: rotate(-45deg);
}

.header.modal-burger-open .header__burger > span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.header.modal-burger-open .header__burger > span:last-child {
    top: -10px;
    transform: rotate(45deg);
}

.header.modal-burger-open .header__overlay {
    display: flex; /* Affiche l'overlay quand le menu est ouvert */
}







/* Afficher le menu burger lorsque la largeur de la fenêtre est inférieure à 768px */
@media (max-width: 768px) {
    .header__burger {
        display: flex; /* Afficher le burger */
    }

    .header__overlay {
        display: flex; /* Afficher l'overlay */
    }
} 

/* Afficherafficher la navigation normale sur les écrans plus larges */
@media (min-width: 769px) {
    .header__burger {
        display: flex; /* Masquer le burger menu */
    }

    .header__overlay {
        display: flex; /* Afficher l'overlay */
    }
}