/* --- Ajout des polices depuis la racine /assets/fonts/ --- */
@font-face {
    font-family: 'Caviar Dreams';
    src: url('/Orpps/assets/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: light;
    src: url('/Orpps/assets/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: black;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    src: url('/Orpps/assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}







/* --- Style de base pour les balise simple --- */
body {
    font-family: 'Caviar Dreams', sans-serif; /* Utilise Caviar Dreams comme police principale */
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Utilise Montserrat pour les titres */
}

.bold-text {
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: bold;
}









/* --- Style de base pour le header --- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Ajouté pour le positionnement relatif */
    z-index: 1000; /* Assurer que le header est au-dessus du contenu */
}

/* Container qui limite la largeur du contenu interne */
.header .container {
    max-width: 980px;
    width: 100%; /* S'assure que le container prend 100% de l'espace disponible */
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    height: 50px;
}

.header__nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Styles du menu burger */
.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: 30px; /* Largeur du burger */
    height: 20px; /* Hauteur totale */
}

.bar {
    height: 4px; /* Hauteur des barres */
    width: 100%;
    background-color: #333; /* Couleur des barres */
    transition: all 0.3s ease; /* Transition pour l'animation */
}

/* Styles pour le menu lorsqu'il est actif */
#overlayMenu {
    display: none; /* Masquer le menu par défaut */
    position: relative; /* Position absolue par rapport à son parent (header) */
    top: 100%; /* Positionné juste en dessous du header */
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1); /* Fond blanc pour le menu */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour le menu */
    z-index: 999; /* Assurer que le menu est au-dessus du contenu */
}

/* Styles pour le menu lorsqu'il est actif */
#overlayMenu.active {
    display: block; /* Afficher le menu lorsque actif */
}





/* Styles pour le menu mobile */
.header__mobile-nav {
    display: none; /* Masquer par défaut */
    flex-direction: column; /* Disposer les éléments verticalement */
    padding: 15px; /* Espacement interne */
    background-color: rgba(255, 255, 255, 1); /* Fond blanc */
}

.header__mobile-nav ul {
    list-style: none; /* Pas de puces */
    padding: 0; /* Pas de padding par défaut */
}

.header__mobile-nav li {
    margin: 10px 0; /* Espacement entre les éléments de la liste */
}

.header__mobile-nav a {
    text-decoration: none; /* Pas de soulignement */
    color: #333; /* Couleur du texte */
    font-weight: bold; /* Gras */
    font-size: 18px; /* Taille de police */
    transition: color 0.3s; /* Transition pour la couleur */
}

/* Changement de couleur au survol */
.header__mobile-nav a:hover {
    color: #007BFF; /* Changez cette couleur selon vos préférences */
}

/* Afficher le menu mobile lorsque actif */
#overlayMenu.active .header__mobile-nav {
    display: flex; /* Afficher le menu lorsque actif */
}






/* Couleur par défaut des liens */
.header__nav a, .header__mobile-nav a {
    color: #333; /* Couleur de texte par défaut */
    transition: color 0.3s; /* Transition pour les changements de couleur */
}

/* Couleur au survol */
.header__nav a:hover, .header__mobile-nav a:hover {
    color: #CB6863; /* Couleur de survol */
}

/* Couleur active (appliquée par JavaScript) */
.header__nav a.active, .header__mobile-nav a.active {
    color: #CB6863; /* Couleur active */
}







/* --- Animation du menu burger lors du clic --- */
.active .bar1 {
    transform: translateY(8px) rotate(45deg); /* Déplacement vers le bas et rotation */
}

.active .bar2 {
    opacity: 0; /* Masquer la barre du milieu */
}

.active .bar3 {
    transform: translateY(-8px) rotate(-45deg); /* Déplacement vers le haut et rotation */
}






/* Afficher le menu burger lorsque la largeur de la fenêtre est inférieure à 768px */
@media (max-width: 768px) {
    .header__nav {
        display: none; /* Cacher la nav par défaut sur mobile */
    }

    .header__burger {
        display: flex; /* Afficher le burger */
    }

    .header__overlay {
        display: flex; /* Afficher l'overlay */
    }
} 

/* Afficherafficher la navigation normale sur les écrans plus larges */
@media (min-width: 769px) {
    .header__nav {
        display: flex; /* Afficher la navigation normale */
    }

    .header__burger {
        display: none; /* Masquer le burger menu */
    }

    .header__overlay {
        display: none; /* Afficher l'overlay */
    }
}