/* --- Ajout des polices depuis la racine /assets/fonts/ --- */
@font-face {
    font-family: 'Caviar Dreams';
    src: url('/Orpps/assets/fonts/CaviarDreams.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/CaviarDreams_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Caviar Dreams';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/CaviarDreams_BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('/Orpps/assets/fonts/MontserratAlternates-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/MontserratAlternates-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/MontserratAlternates-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/Montserrat-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-bold;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/Montserrat-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: light;
    src: url('/Orpps/assets/fonts/Montserrat-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: medium;
    src: url('/Orpps/assets/fonts/Montserrat-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Orpps/assets/fonts/Montserrat-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/Montserrat-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: thin;
    src: url('/Orpps/assets/fonts/Montserrat-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: black;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: extra-light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    src: url('/Orpps/assets/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: light;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('/Orpps/assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    src: url('/Orpps/assets/fonts/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: semi-bold;
    font-style: italic;
    src: url('/Orpps/assets/fonts/SourceSansPro-SemiboldItalic.ttf') format('truetype');
}







/* --- Style de base pour les balise simple --- */
body {
    font-family: 'Caviar Dreams', sans-serif; /* Utilise Caviar Dreams comme police principale */
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Utilise Montserrat pour les titres */
}

.bold-text {
    font-family: 'Caviar Dreams', sans-serif;
    font-weight: bold;
}










/* --- Style de base pour le header --- */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header__logo img {
    height: 50px;
}

.header__nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.header__burger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
}

.header__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.header__mobile-nav {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.header__mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__mobile-nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
}

/* --- Media Query pour Mobile --- */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
        cursor: pointer;
    }

    .header__overlay {
        display: flex;
    }
}
