<!-- components/header.html -->
<div class="header">
    <div class="container">
        <div class="header__logo">
            <div class="user-logo">
                <a href="/Orpps/recettes.html" id="userLogoLink">
                    <img src="/Orpps/assets/images/logos_orpps/user_logo_hat.png" alt="User Logo Hat" class="user-logo__hat">
                    <img src="/Orpps/assets/images/logos_orpps/user_logo_mustache.png" alt="User Logo Mustache" class="user-logo__mustache">
                </a>
            </div>
            <div class="orpps-logo">
                <a href="/Orpps/index.html">
                    <img src="/Orpps/assets/images/logos_orpps/orpps_logo.png" alt="Orpps Logo">
                </a>
            </div>
        </div>
        
        <div id="burgerMenu" class="header__burger" aria-haspopup="menu" aria-label="Menu">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </div>
    </div>
    <div id="overlayMenu" class="header__overlay">
        <div class="header__nav">
            <ul>
                <li><a href="/Orpps/recettes.html">Recettes</a></li>
                <li><a href="#">Planification de menu</a></li>
                <li><a href="/Orpps/liste_de_course.html">Liste de course</a></li>
            </ul>
        </div>
    </div>
</div>
